# Server Configuration
PORT=5000

# MongoDB Connection String
# Replace the placeholder below with your actual connection string from MongoDB Atlas.
# Using a cloud database is recommended over a local one for reliability.
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/CleanConnect?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://patilanmolkop_db_user:cxR5vTyipZcyDrPz@cluster0.hg5xqyg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JSON Web Token Configuration
# Use a long, random, and secret string for JWT_SECRET in a production environment.
JWT_SECRET=35527f8d286709873b57be6574a33f5d67d1ddf429677290beef0d23197fc15b5a450e6804f96fd41f3908ff5ef5b97d64788142d4f80152f55a94853c4edf0d
JWT_EXPIRE=30d

# Google API Keys
# This key is for server-side AI services. Keep it secret.
GEMINI_API_KEY=AIzaSyBCWdx4s3EDm8HMUJFOaTAuBMgv6KyCN3g

# This key is for the frontend Google Maps. It will be visible in the browser.
# IMPORTANT: Restrict this key in the Google Cloud Console to your website's domain.
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDcHTdmYNJJ9MEnj1lnzEXdZE5s0DXo-Dg

# ... your other variables like MONGO_URI and JWT_SECRET
DEVICE_API_KEY="caacac919ea789ec80be9d8d4f691924e11afc154abd37332aea9a3854445cdb7f2bd603851718f70207856bb6636537"

RECAPTCHA_SECRET_KEY="6LeiEt8rAAAAANgYHuE8mFe-VGnUJF8sf1SOwb5D"

VITE_API_URL=http://localhost:5000/api

VITE_DUSTBIN_API_URL=http://localhost:5000/api/bins

VITE_RECAPTCHA_SITE_KEY="6LeiEt8rAAAAADwnubu3fV5M3BUR3YqpIXOcenDC"